<h1>Confirm & Pay</h1>

<div class ="container-booking">
  <div class="card-user">
    <h3> Your Booking Details </h3>
    <p> <strong> Guest Name: </strong></p> 
    <p> Joe </p>
    <p> <strong> Date: </strong></p> 
    <p> 9 Sep 2022 - 10 Sep 2022 </p>
    <p> <strong> No. of Guest: </strong></p>
    <p> 38 </p>
  </div>

  <div class="card-pay">
    <img src="">
    <h3> 369@Yishun </h3>
    <p> <strong> Price Details: </strong></p>
    <p> $888 </p>
    <button type="button" class="btn btn-primary"> Confirm </button>
  </div>
</div>