<div class="banner banner-image">
  <div>
    <h1>OfficeBnB</h1>
    <p>Find me a place to work in peace!</p>

    <div class="form-group ml-2">
    <form action="/listings" class="form-inline">
      <input type="text" class="form-control border-radius ml-2" placeholder="Orchard">
      <input type="date" name="start-date" class="form-control border-radius ml-2" placeholder="Start date">
      <input type="date" name="end-date" class="form-control border-radius ml-2" placeholder="End date">
      <select name="" id="" class="form-control border-radius ml-2">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <input type="submit" class="btn btn-success ml-2" value="Search">
    </form>
  </div>
  </div>
</div>
