#footer {
  display: flex;
  background-color: white;
  justify-content: center;
  height: 70px;
  align-items: center;
  margin-top: auto;
  bottom: 0;
  width: 100%;
}

#footer .fa-star {
  color: yellowgreen;
}
