.new-listing {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  border: 1px solid lightgray;
  border-radius: 25px;
  background-color:rgb(252,253,255);
  box-shadow: 10px 10px 5px lightgray;
}
