.photo img {
  width: 100%;
}

.bottom img {
  padding-top: 8px;
}

.top-c img {
  border-radius: 0 24px 0 0;
}


.btm-c img {
  border-radius: 0 0 24px 0;
}

.main-c img {
  border-radius: 24px 0 0 24px;
}

.half-c img {
  border-radius: 0 24px 24px 0;
}

#booking-form {
  width: 30%;
}

.calendar-cont {
  height: 350px;
}

.booking {
  margin-top: 23px;
}

.host-mode {
  display: none;
}

.review-user-image {
  // position: relative;
}

.review-user {
  // position: absolute;
}

// #calendar-cont {
//   width: 500px;
// }
