<div class="container">
  <%= simple_form_for [@booking, @review] do |f| %>
    <%= f.input :user_review, label: 'Leave a user review:' %>
    <%= f.input :user_rating, label: 'Leave a user rating:' %>
    <%= f.button :submit, class: "btn btn-success" %>
  <% end %>
</div>
