$offwhite: darken(white, 10%);
$darkblue: rgb(50,50,60);

.tabs {
  overflow: hidden;
  border-bottom: 1px solid lightgrey;
}

/* Style the buttons that are used to open the tab content */
.tabs div {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabs div:hover {
  background-color: white;
}

/* Create an active/current tablink class */
.tabs div.active {
  font-weight: bold;
  border-bottom: 2px solid black;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.tabcontent a {
  color: black;
}

.blankboard img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: left bottom;
  margin-bottom: 20px;
  border-radius: 12px;
}

.status {
  width: 140px;
  height: 35px;
  border-radius: 12px;
  transition: ease 0.4s;
  i {
      width: 20%;
  }
}

.status.review {
  width: 200px;
}

.status.host {
  width: 170px;
}

.status.pending {
  border: 1px solid lime;
  background-color: white;
  color: lime;

  &:hover {
    border: 1px solid white;
    background-color: #ccffc7;
  }
  }

.status.confirmed {
  border: none;
  background-color: lime;
  color: white;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.status.cancelled {
  border: 1px solid red;
  background-color: white;
  color: red;

  &:hover {
    background-color: red;
    border-color: white;
    color: white;
  }
}

#upcoming {
  display: block;
}

.reservation {
  transition: ease 0.3s;
}

.reservation:hover {
  background-color: white;
}
