.container-booking {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	margin: auto;
  padding: 50px;
	background: white;
  border-radius: 30px;
  border: 1px solid lightgrey;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.container-booking .card-user {
	position: relative;
  margin: 20px;
}

.container-booking .listing-details {
	position: relative;
  margin: 20px;
}

.booking-img {
  width: 300px;
  border-radius: 12px;
}
